{% extends 'base.html' %}
<!-- title -->
{% block title %} User {% endblock %}
<!-- content -->
{% block content %}
<!-- list of users -->
<div style="display: flex;">
    <div>
        <img src="{{user.image_url}}" alt="pic" class='img' style=" ">
    </div>
    <div>
        <div class="usr_name">
            {{user.get_full_name}}
        </div>
        <div style="display: flex;">
            <form action="/users/{{user.id}}/edit">
                <button class="bg-primary edit">Edit</button>
            </form>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button class="bg-danger delete">Delete</button>
            </form>
        </div>
    </div>
</div>
<!-- print user posts -->
<br>
<div class="posts">
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li> {% endfor %}
    </ul>
    <form action="/users/{{user.id}}/posts/new" method="GET">
        <button class="bg-primary Edit">Add Post</button>
    </form>
</div>
{% endblock %}